<h1>Hello Kittens!</h1>

<a href="#" onclick="this.style.backgroundColor='red'">Paint it red</a>

<%= form_with(model: @kitten, scope: :kitten) do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Color: <%= f.text_field :color %></p>
  <p>Quirk: <%= f.text_field :quirk %></p>
  <p><%= f.submit %></p>
<% end %>

<ul id="kittens">
  <% @kittens.each do |kitten| %>
  <li><%= link_to kitten.name, kitten_path(kitten), remote: true %></li>
  <% end %>
</ul>
